.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-bg-logo{
  background-image: url("./asset/bg.jpg");
  width: 100%;
  height: 250px;
}

.custom-header{
  background-color: #ffffff !important;
  border: unset;
  box-shadow: 0 5px 6px -1px #c8c8c8;
  padding: 15px 20px !important;
}

.inp {
  border:none !important;
  border-bottom: 2px solid #e9ecef !important;
  padding-left: 5px !important;
  outline: none !important;
  border-radius: 0px !important;
}
.inp:focus{
  box-shadow: unset !important
}
.custom-label{
  padding: 1rem 0rem !important;
  color: #26d026 !important;
  font-weight: 600 !important
}
.login-header{
  color: #26d026 !important;
}
.or{
  font-size: 12px;
  font-weight: 700;
}

.login-button{
  background-color: #1dc01d ;
  height: 50px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}
.forget-password{
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.sign-up{
  color:  rgb(177, 6, 6);;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

}
.require-filed {
  color: rgb(177, 6, 6);
  font-size: 12px;
  font-weight: 500;
  text-align: left !important;
}
/* [placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
} */